<a href="{{ "/philosophy" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Philosophy</h2></a>
<a href="{{ "/art" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Art</h2></a>
<a href="{{ "/computers" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Computers</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>
